#guessing {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  color: dimgray;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 250px;
  border: 2px solid gray;
  height: 40px;
}

#game {
  font-family: 'Times New Roman', Times, serif;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: dimgray;
  background-color: white;
  width: 200px;
  border: 2px solid gray;
  font-size: 18px;
}

#answer {
  width: 10%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#button {
  background-color: lightcoral;
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

body {
  background-color: lightpink;
  border: 2px solid whitesmoke;
}
